
<p>
<a routerLink="/admin/products/new" class="btn btn-primary">Tambahkan Produk</a>
</p>

<table datatable  class="table table-striped dt-responsive nowrap" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
<thead>
    <tr>
        <th>Nama Produk</th>
        <th>Harga</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let p of products">
        <td>{{[p.title]}}</td>
        <td>{{p.price |currency:'Rp.':true:'1.0-0'}}</td>
        <td>
            <a [routerLink]="['/admin/products/', p.key]" >Ubah</a>
        </td>
    </tr>
</tbody>
</table>